@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root
{
  --Primary-Violet: hsl(257, 40%, 49%);
  --Primary-Magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
}

body{
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h1{
  font-size: 22px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

p{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

button{
  color: var(--Primary-Violet);
  background-color: white;
  padding: 15px 80px;
  font-family: "Open Sans", sans-serif;
  border-radius: 30px;
}

button:hover
{
  cursor: pointer;
  background-color: var(--Primary-Magenta);
  color: white;
}

.RowBackground{
  display: flex;
  max-width: 100%;
  height: 100%;
  padding: 40px;
  background: url('Images/bg-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  background-color:var(--Primary-Violet);
}

.MainGrid {
  display: block;
  text-align: center; 
}

.Logo
{
  background: url('logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
}

.ProductImage {
  padding-top: 50px;
  padding-bottom: 25px;
  width: 100%;
  height: auto;
}

.ProductIntro {
  margin-bottom: 25px;
}

.SocialIcons{
  display: flex;
  justify-content: center;
  padding: 50px 0px 0px 0px;
}

.FacebookLogo{
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.TwitterLogo{
  width: 35px;
  height: 35px;
  margin-right: 5px;
  margin-left: 5px;
}

.InstagramLogo{

  width: 35px;
  height: 35px;
  margin-right: 5px;
}
